// ------------------------------------------------------
//  Clearfix
// ------------------------------------------------------

@mixin labcoat-clearfix() {
  
  &:after {
    content: "" !important;
    display: block !important;
    clear: both !important;
  }

}