// ------------------------------------------------------
//  Buttons
// ------------------------------------------------------

.c-btn {
  background-image: none;
  border: 2px solid transparent;
  border-radius: 5px;
  display: inline-block;
  touch-action: manipulation;
  min-height: $labcoat-global-input-height;
  line-height: 46px; // Height - border width
  padding: 0 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
	white-space: nowrap;
  user-select: none;
  transition: $labcoat-global-transition;
  @include labcoat-font-size(small, $line-height: false);
  @include labcoat-font-family(medium);
  @include labcoat-button(default);
}

.c-btn--secondary {
  border-width: 1px;
  line-height: 48px; // Height - border width
  @include labcoat-button(secondary);
}

.c-btn--arrow {
  background-position: 92% center;
  background-position: calc(100% - 18px) center;
  background-repeat: no-repeat;
  padding-right: 45px;
  @include labcoat-background-image('chevron-white');
}

.c-btn--block {
  display: block;
  width: 100%;
}

.c-btn:disabled,
.c-btn--disabled {
  pointer-events: none;
  @include labcoat-button(disabled);
}

.c-btn--header {
  float: right;
  margin-left: 40px;
}

.c-btn--nav {
  border-width: 1px;
  border-radius: 2px;
  .c-btn__icon--open {
    @include labcoat-background-image('menu-blue');
  }
  .c-btn__icon--closed {
    @include labcoat-background-image('close-blue');
  }
  @include labcoat-button(nav);
}

.c-btn__icon {
  display: inline-block;
  background-repeat: no-repeat;
  vertical-align: middle;
  width: 1em;
  height: 1em;
}

.c-btn--toggle {
  .c-btn__text {
   [dir="ltr"] & {
     margin-right: 0.5em;
   }
   [dir="rtl"] & {
     margin-left: 1rem;
   }
  }
  &[aria-expanded="false"] {
    .c-btn__icon--open {
      display: inline-block;
    }
    .c-btn__icon--closed {
      display: none;
    }
  }
  &[aria-expanded="true"] {
    .c-btn__icon--open {
      display: none;
    }
    .c-btn__icon--closed {
      display: inline-block;
    }
  }
}
