// ------------------------------------------------------
//  Footer
// ------------------------------------------------------

.c-footer {
  background-color: labcoat-theme-color(footer-bg);
  border-top: 1px solid labcoat-theme-color(footer-border);
  box-shadow: 0 0 10px 0 labcoat-theme-color(footer-shadow);  
  clear: both;
  padding: 32px 0; // 40px total
  @include labcoat-font-size(small);
}
  
.c-footer__copyright {
  color: labcoat-theme-color(footer-text);
  margin-top: 45px; // 60px total
}

.c-footer__link {
  color: labcoat-theme-color(footer-link);
  margin-right: 40px;
  &:hover {
    color: labcoat-theme-color(footer-link-hover);
  }
}