// ------------------------------------------------------
//  Media
// ------------------------------------------------------

.c-media {
  background-color: labcoat-theme-color(media-bg);
}

.c-media__img {
  float: left;
  width: 50%;
}

.c-media__body {
  float: left;
  width: 50%;
}