// ------------------------------------------------------
//  Navigation
// ------------------------------------------------------

.c-nav {
  float: right;
  margin-top: 10px;
}

.c-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.c-nav__item {
  display: inline-block;
  margin-left: 40px;
}

.c-nav__link {
  color: labcoat-theme-color(nav-link);
  display: block;
  text-decoration: none;
  @include labcoat-font-family(medium);
  @include labcoat-font-size(small);
  &:hover {
    color: labcoat-theme-color(nav-link-hover);
  }
}

.c-primary-navigation {
  position: fixed;
  width: 100%;
  top: 89px;
  left: 0;
  height: calc(100vh - 90px);
  background: labcoat-theme-color(menu-bg);
  display: none;
  padding: 30px 10px;
  &.is-open {
    display: block;
    @include mq($from: medium){
      display: none;
    }
  }
  @include mq($from: medium) {
    display: none;
  }
  z-index: 0;
}