// ------------------------------------------------------
//  Page actions
// ------------------------------------------------------

.c-page-actions {
  border-top: 1px solid labcoat-theme-color(default-border);
  padding: 40px 0 120px 0;
}

.c-page-actions--right {
  text-align: right;
}
