// ------------------------------------------------------
//  Lists
// ------------------------------------------------------

ol,
ul {
  list-style-position: inside;
  margin-top: 0;
  margin-bottom: 20px;
  padding-left: 0;
  & ol, 
  & ul {
    margin-bottom: 0;
    padding-left: 40px;
  }
  ol {
    list-style-type: lower-roman;
  }  
}

li {
  margin-bottom: 8px; // 20px total
  ul, ol {
    margin-top: 8px; // 20px total
  }
}