// ------------------------------------------------------
//  Page
// ------------------------------------------------------

html {
  font-size: 62.5%;
  overflow-y: scroll;
  min-height: 100%;
}

body {
  color: labcoat-theme-color(default-text);
  @include labcoat-font-family(base);
  @include labcoat-font-size(base);
}