{% set page = {
  title: 'About'
} %}

{% extends "layouts/default.html" %}

{% block main %}

  <div class="o-contain">

    <div class="c-breadcrumb u-mt-base u-mb-base">
      <a class="c-breadcrumb__link" href="/">Home</a>
      <div class="c-breadcrumb__divider"> / </div>
      <div class="c-breadcrumb__section">About</div>
    </div>

    <div class="c-page-heading u-mb-base">
      <h2 class="c-page-heading__title c-page-heading__title--xl">About us</h2>
    </div>

    <div class="c-article u-article-content u-mb-xxl">

        <h2>Who are we</h2>
        <p>Well Pharmacy is the largest independent pharmacy chain in the UK, and the third largest pharmacy overall.</p>

        <hr>

        <h2>How we can help</h2>
        <p>We have <a href="https://finder.well.co.uk/" target="_blank">780 stores nationwide</a> with friendly, expert healthcare professionals to help you make the most of your health. For example, repeat prescriptions, stop smoking advice, medicines advice.</p>

        <hr>

        <h2>Our history</h2>
        <p>Previously the Co-operative Pharmacy, we were bought by the <a href="http://www.bestwaygroup.co.uk/" target="_blank">Bestway Group</a> in 2014, and rebranded as Well.</p>

        <hr>

        <h2>Our corporate social responsibility</h2>
        <p>We support the national network of WEEE (waste electrical and electronic equipment) recycling centres, so you can recycle your electrical and electronic devices for free. <a href="https://www.recycle-more.co.uk/" target="_blank">Find a recycle point</a>.</p>
        <p>We want to reduce the use of single-use plastic carrier bags and the litter they cause so we usually charge 5p a bag.</p>
        <p>We're committed to making sure modern slavery is not taking place in our business or supply chain. <a href="https://www.well.co.uk/information/modern-slavery-act/" target="_blank">Read our modern slavery statement</a>.</p>

        <hr>

        <h2>Official charity partner</h2>
        <p>We’re working with the Stroke Association to raise awareness on the link between high blood pressure and stroke in local communities.</p>
        <p>Our aim is to raise £250,000 and we’re doing a whole host of fundraising activity to try to reach our goals.</p>

    </div>

  </div>

{% endblock %}
