{% set page = {
  title: 'Contact'
} %}

{% extends "layouts/default.html" %}

{% block main %}

  <div class="o-contain">

    <div class="c-breadcrumb u-mt-base u-mb-base">
      <a class="c-breadcrumb__link" href="/">Home</a>
      <div class="c-breadcrumb__divider"> / </div>
      <div class="c-breadcrumb__section">Contact</div>
    </div>

    <div class="c-page-heading u-mb-base">
      <h1 class="c-page-heading__title c-page-heading__title--xl">Contact us</h1>
    </div>

    <div class="c-article u-article-content u-mb-xxl">

      <p>Telephone - <a href="tel:+443300102222">0330 010 2222</a><br>(Rates are charged at your local standard rate)</p>
      <p>Email - <a href="mailto:yourexperience@well.co.uk">yourexperience@well.co.uk</a></p>
      <p>Monday to Friday 09:00 - 18:00</p>

      <hr>

      <h2>Media enquiries</h2>
      <p>Email - <a href="mailto:pr@well.co.uk">pr@well.co.uk</a></p>

      <hr>

      <h2>Find us</h2>
      <p>Head Office<br>Customer Care<br>Merchants Warehouse<br>21 Castle Street<br>Castlefield<br>Manchester<br>M3 4LZ</p>

      <hr>

      <h2>Directions</h2>
      <p>Rail – Deansgate</p>
      <p>Metrolink – Deansgate and Castlefield</p>
      <p>Airport – Manchester Airport<br>(there is a rail station at this airport that takes you to Deansgate)</p>

      <br>

      <a class="c-btn c-btn--arrow" href="https://finder.well.co.uk">Find your nearest Well pharmacy</a>

    </div>

  </div>

{% endblock %}
