{% set page = {
  title: 'Cookies Policy'
} %}

{% extends "layouts/default.html" %}

{% block main %}

  <div class="o-contain">

    <div class="c-breadcrumb u-mt-base u-mb-base">
      <a class="c-breadcrumb__link" href="/">Home</a>
      <div class="c-breadcrumb__divider"> / </div>
      <a class="c-breadcrumb__link" href="/policies.html">Policies</a>
      <div class="c-breadcrumb__divider"> / </div>
      <div class="c-breadcrumb__section">Cookies Policy</div>
    </div>

    <div class="c-page-heading u-mb-base">
      <h1 class="c-page-heading__title c-page-heading__title--xl">Website cookies</h1>
    </div>

    <div class="c-article u-article-content u-mb-xxl">

      <p class="lead">Cookies are tiny text files stored on your device when you visit our website [or open a marketing email]. They’re set to stay on your device for a certain amount of time.</p>

      <p>Cookies do not collect your personal data. They collect anonymous data about a visit to our website. For example, pages looked at or time spent on a page. We use this data to help improve the website.</p>

      <hr>

      <h2>How to manage or delete cookies</h2>

      <p>Most browsers automatically accept cookies, but you can usually change your device or browser settings to manage, delete or block them.</p>

      <p>Each browser has advice on how to manage cookies:</p>

      <ul>
        <li><a href="https://support.apple.com/en-gb/guide/safari/manage-cookies-and-website-data-sfri11471" target="_blank">Apple Safari</a></li>
        <li><a href="https://support.google.com/chrome/answer/95647?hl=en-GB" target="_blank">Google Chrome</a></li>
        <li><a href="https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences?redirectlocale=en-US" target="_blank">Mozilla Firefox</a></li>
        <li><a href="http://www.microsoft.com/info/cookies.mspx" target="_blank">Microsoft Internet Explorer</a></li>
      </ul>

      <p>If you need more help on cookies visit <a href="http://www.allaboutcookies.org/" target="_blank">All about cookies</a>.</p>

    </div>

  </div>

{% endblock %}
