{% set page = {
  title: 'Home Delivery'
} %}

{% extends "layouts/default.html" %}

{% block main %}

    <div class="o-contain">

        <div class="c-breadcrumb u-mt-base u-mb-base">
        <a class="c-breadcrumb__link" href="/">Home</a>
        <div class="c-breadcrumb__divider"> / </div>
        <div class="c-breadcrumb__section">Home Delivery</div>
        </div>

        <div class="c-page-heading u-mb-base">
        <h2 class="c-page-heading__title c-page-heading__title--xl ">Having medicines delivered to your house</h2>
        </div>
        
        <div class="c-article u-article-content u-mb-xl">  

            <p class="lead">Well Pharmacy can deliver your prescription medicines for free to your house.</p>

        </div>

    </div><!-- /.o-contain -->

    <div class="c-process u-mb-xl">
        <div class="o-contain">
    
            <h2 class="c-process__title">How to set up free delivery</h2>
    
            <ul class="c-process__list">
            <li class="c-process__item">
                <h3 class="c-process__number">1</h3>
                <div class="c-process__content">
                <p><a href="https://finder.well.co.uk/" target="_blank">Phone your local Well Pharmacy</a> and ask them to set up free delivery for you.</p>
                </div>
            </li>
            <li class="c-process__item">
                <h3 class="c-process__number">2</h3>
                <div class="c-process__content">
                <p>Our pharmacy staff will talk you through the service and take your delivery address and contact details.</p>          
                </div>          
            </li>                 
            </ul>
    
        </div><!-- /.o-contain -->
    </div><!-- /.c-process -->

    <div class="o-contain">

        <div class="c-page-heading u-mb-base">
            <h2 class="c-page-heading__title">How free delivery works</h2>
        </div>  

        <div class="c-article u-article-content u-mb-xl">  

            <p>All deliveries must be signed for by someone over 16.</p>
            <p>Someone else (like a neighbour) can sign for you if you’ve arranged it in advance with the pharmacy.</p>
            <p>Our drivers will deliver your medicines safely, are friendly and approachable. If you have any concerns about your delivery, you can talk to them about it. They’re also usually up for a friendly chat.</p>
            <p>To make sure you don’t run out of medicines:</p>

        </div>

        <div class="c-page-heading u-mb-base">
            <h2 class="c-page-heading__title">To make sure you don’t run out of medicines:</h2>
        </div>  
    
        <div class="c-article u-article-content u-mb-xl">  

            <ul>
            <li>if you change GP - tell them which <a href="https://finder.well.co.uk/" target="_blank">Well Pharmacy</a> you use</li>
            <li>if you move house - tell your GP and Well pharmacy</li>
            </ul>

        </div>        

        <div class="c-media c-media--square u-mb-xl">
            <div class="c-media__figure">

            <picture>
                <source srcset="/public/images/temp-staff-medium.jpg,  /public/images/temp-staff-xl.jpg 2x" media="(min-width: 1300px)">                
                <source srcset="/public/images/temp-staff-medium.jpg, /public/images/temp-staff-large.jpg 2x" media="(min-width: 980px)">
                <source srcset="/public/images/temp-staff-large.jpg, /public/images/temp-staff-large.jpg 2x" media="(min-width: 740px)">
                <img class="c-media__img" srcset="/public/images/temp-staff-small.jpg, /public/images/temp-staff-medium.jpg 2x" alt="Image with picture element">
            </picture>

            </div>
            <div class="c-media__body">

                <h2 class="c-media__title">Phone your local Well Pharmacy</h2>
                <div class="c-media__content">
                    <p>We have over 780 to choose from.</p>
                </div>
                <div class="c-media__btn">
                    <a class="c-btn c-btn--arrow" href="https://finder.well.co.uk/" target="_blank">Find a pharmacy</a>
                </div>

            </div>
        </div>

        <div class="c-page-heading u-mb-base">
            <h2 class="c-page-heading__title">Other ways we can help</h2>
        </div>      

        <ul class="c-card-list u-mb-xxl">
            <li class="c-card-list__item">
                <div class="c-card">
                    <div class="c-card__body">
                        <h2 class="c-card__title">Help with prescription costs</h2>
                        <div class="c-card__btn">
                            <a class="c-btn" href="/prescription-costs">Prescription costs</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="c-card-list__item">
                <div class="c-card">
                    <div class="c-card__body">
                        <h2 class="c-card__title">Hassle-free repeat prescriptions</h2>
                        <div class="c-card__btn">
                            <a class="c-btn" href="/repeat-prescriptions">Repeat prescriptions</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>    

  </div><!-- /.o-contain -->

{% endblock %}