{% set page = {
  title: 'Home Delivery'
} %}

{% extends "layouts/default.html" %}

{% block main %}

  <div class="o-contain">

    <div class="c-breadcrumb u-mt-base u-mb-base">
      <a class="c-breadcrumb__link" href="/">Home</a>
      <div class="c-breadcrumb__divider"> / </div>
      <div class="c-breadcrumb__section">Home Delivery</div>
    </div>

    <div class="c-page-heading u-mb-base">
      <h2 class="c-page-heading__title c-page-heading__title--xl ">Having medicines delivered to your house</h2>
    </div>
    
    <div class="c-article u-article-content u-mb-xl">  

        <p class="lead">Well Pharmacy can deliver your prescriptions for free to your house.</p>

        <h2>Who can get free delivery</h2>

        <p>We offer this service for people who are housebound and on <a href="/repeat-prescriptions">repeat prescriptions</a>.</p>

        <h2>How to set up free delivery</h2>

        <p><a href="https://finder.well.co.uk/" target="_blank">Phone your local Well Pharmacy</a> and ask them to set up free delivery for you.</p>
        
        <p>Our pharmacy staff will talk you through when your deliveries will start and what day of the week you’ll usually get your prescriptions.</p>
        
        <h2>Making changes to your delivery</h2>

        <p><a href="https://finder.well.co.uk/" target="_blank">Phone your local Well Pharmacy</a> if you need to make any changes to your delivery. For example, you might want to change the day of the week the driver is coming by.</p>        

        <p>If you move house and want your medicines delivered to a new address, it’s helpful if you have your <a href="https://www.england.nhs.uk/contact-us/how-can-we-help/how-can-i-find-out-my-nhs-number/" target="_blank">NHS number</a> ready when you phone you phone your local Well Pharmacy.</p>
            
        <h2>Our delivery team</h2>
        
        <p>All our drivers are trusted Well employees. You will usually see the same driver around the same time every week.</p>
            
        <p>Our drivers are friendly and approachable. If you have any concerns about your delivery, you can talk to them about it. They’re also usually up for a friendly chat.</p>

    </div>

  </div>  

{% endblock %}