{% set page = {
  title: 'Home Delivery'
} %}

{% extends "layouts/default.html" %}

{% block main %}

  <div class="o-contain">

    <div class="c-breadcrumb u-mt-base u-mb-base">
      <a class="c-breadcrumb__link" href="/">Home</a>
      <div class="c-breadcrumb__divider"> / </div>
      <div class="c-breadcrumb__section">Home Delivery</div>
    </div>

    <div class="c-page-heading u-mb-base">
      <h2 class="c-page-heading__title c-page-heading__title--xl ">Having medicines delivered to your house</h2>
    </div>
    
    <div class="c-article u-article-content u-mb-xl">  

        <p class="lead">Well Pharmacy can deliver your prescription medicines for free to your house.</p>

        <h2>How to set up free delivery</h2>        
        <ul>
        <li><a href="https://finder.well.co.uk/" target="_blank">Phone your local Well Pharmacy</a> and ask them to set up free delivery for you.</li>        
        <li>Our pharmacy staff will talk you through the service and take your delivery address and contact details.</li>
        </ul>

        <h2>How free delivery works</h2>
        <p>All deliveries must be signed for by someone over 16.</p>
        <p>Someone else (like a neighbour) can sign for you if you’ve arranged it in advance with the pharmacy.</p>
        <p>Our drivers will deliver your medicines safely, are friendly and approachable. If you have any concerns about your delivery, you can talk to them about it. They’re also usually up for a friendly chat.</p>
        <p>To make sure you don’t run out of medicines:</p>
        <ul>
          <li>if you change GP - tell them which <a href="https://finder.well.co.uk/" target="_blank">Well Pharmacy</a> you use</li>
          <li>if you move house - tell your GP and Well pharmacy</li>
        </ul>

    </div>

  </div>  

{% endblock %}