{% set page = {
  title: 'Home'
} %}

{% extends "layouts/default.html" %}

{% block main %}

  <div class="o-contain">

    <div class="c-hero u-mt-xl u-mb-xl">
        <p>We are an NHS approved pharmacy with over 780 stores offering expert advice and services like <a href="/repeat-prescriptions.html">repeat prescriptions</a>.</p>
    </div>

    <div class="c-media u-mb-large">
      <div class="c-media__figure">

        <picture>
            <source srcset="/public/images/temp-staff-customer-medium.jpg,  /public/images/temp-staff-customer-xl.jpg 2x" media="(min-width: 1300px)">
            <source srcset="/public/images/temp-staff-customer-medium.jpg, /public/images/temp-staff-customer-large.jpg 2x" media="(min-width: 980px)">
            <source srcset="/public/images/temp-staff-customer-large.jpg, /public/images/temp-staff-customer-large.jpg 2x" media="(min-width: 740px)">
            <img class="c-media__img" srcset="/public/images/temp-staff-customer-small.jpg, /public/images/temp-staff-customer-medium.jpg 2x" alt="Image with picture element">
        </picture>

      </div>
      <div class="c-media__body">

        <h2 class="c-media__title">Prescriptions</h2>

        <ul class="c-list-group">
            <li class="c-list-group__item">
                <a class="c-list-group__link" href="/repeat-prescriptions">Repeat prescriptions</a>
            </li>
            <li class="c-list-group__item">
                <a class="c-list-group__link" href="/home-delivery">Home delivery</a>
            </li>
            <li class="c-list-group__item">
                <a class="c-list-group__link" href="/prescription-costs">Prescription costs</a>
            </li>
        </ul>

      </div>
    </div>

    <div class="c-media c-media--primary c-media--reverse u-mb-large">
      <div class="c-media__figure">

          <picture>
              <source srcset="/public/images/temp-customer-medium.jpg,  /public/images/temp-customer-xl.jpg 2x" media="(min-width: 1300px)">
              <source srcset="/public/images/temp-customer-medium.jpg, /public/images/temp-customer-large.jpg 2x" media="(min-width: 980px)">
              <source srcset="/public/images/temp-customer-large.jpg, /public/images/temp-customer-large.jpg 2x" media="(min-width: 740px)">
              <img class="c-media__img" srcset="/public/images/temp-customer-small.jpg, /public/images/temp-customer-medium.jpg 2x" alt="Image with picture element">
          </picture>

      </div>
      <div class="c-media__body">

          <div class="c-media__subtitle">Happy customers</div>
          <h2 class="c-media__title">We help over 1.2 million people with their prescription</h2>

      </div>
    </div>

    <div class="c-media u-mb-large">
        <div class="c-media__figure">

            <picture>
                <source srcset="/public/images/temp-prescription-medium.jpg,  /public/images/temp-prescription-xl.jpg 2x" media="(min-width: 1300px)">
                <source srcset="/public/images/temp-prescription-medium.jpg, /public/images/temp-prescription-large.jpg 2x" media="(min-width: 980px)">
                <source srcset="/public/images/temp-prescription-large.jpg, /public/images/temp-prescription-large.jpg 2x" media="(min-width: 740px)">
                <img class="c-media__img" srcset="/public/images/temp-prescription-small.jpg, /public/images/temp-prescription-medium.jpg 2x" alt="Image with picture element">
            </picture>

        </div>
        <div class="c-media__body">

            <h2 class="c-media__title">Long-term conditions</h2>

            <ul class="c-list-group">
                <li class="c-list-group__item">
                    <a class="c-list-group__link" href="/long-term-conditions">Help with your medicines</a>
                </li>
                <li class="c-list-group__item">
                    <a class="c-list-group__link" href="#">Diabetes</a>
                </li>
                <li class="c-list-group__item">
                    <a class="c-list-group__link" href="#">Heart conditions</a>
                </li>
                <li class="c-list-group__item">
                    <a class="c-list-group__link" href="#">Asthma</a>
                </li>
            </ul>

        </div>
    </div>

    <ul class="c-card-list u-mb-xxl">
        <li class="c-card-list__item">
            <div class="c-card">
                <div class="c-card__body">
                    <h2 class="c-card__title">Simple conditions</h2>
                    <div class="c-card__content">
                        <ul class="c-list-group">
                            <li class="c-list-group__item">
                                <a class="c-list-group__link" href="#">Cold and flu</a>
                            </li>
                            <li class="c-list-group__item">
                                <a class="c-list-group__link" href="#">Stomach problems</a>
                            </li>
                            <li class="c-list-group__item">
                                <a class="c-list-group__link" href="#">Skin problems</a>
                            </li>
                            <li class="c-list-group__item">
                                <a class="c-list-group__link" href="#">Eye conditions</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
        <li class="c-card-list__item">
            <div class="c-card">
                <div class="c-card__body">
                    <h2 class="c-card__title">Sexual health</h2>
                    <div class="c-card__content">
                        <ul class="c-list-group">
                            <li class="c-list-group__item">
                                <a class="c-list-group__link" href="#">Contraception</a>
                            </li>
                            <li class="c-list-group__item">
                                <a class="c-list-group__link" href="#">Chlamydia</a>
                            </li>
                            <li class="c-list-group__item">
                                <a class="c-list-group__link" href="#">Gonorrhoea</a>
                            </li>
                            <li class="c-list-group__item">
                                <a class="c-list-group__link" href="#">Genital warts</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
    </ul>

  </div><!-- /.o-contain -->

{% endblock %}
