{% set page = {
  title: 'Conditions'
} %}

{% extends "layouts/default.html" %}

{% block main %}

  <div class="o-contain">

    <div class="c-breadcrumb u-mt-base u-mb-base">
      <a class="c-breadcrumb__link" href="/">Home</a>
      <div class="c-breadcrumb__divider"> / </div>
      <div class="c-breadcrumb__section">Conditions</div>
    </div>

    <div class="c-page-heading u-mb-base">
      <h2 class="c-page-heading__title">How your Well pharmacist can help with a long-term condition</h2>
    </div>
    
    <div class="c-article u-article-content u-mb-xl">  
        
        <p class="lead">Well Pharmacies in England offer free appointments with a pharmacist to help with any difficulties you might have with medicines you take for your long-term condition.</p>        
        <p class="lead">This can save you trips to your GP and waiting times for appointments.</p>

        <h2>What your Well Pharmacist can help with</h2>
        <p>Your Well Pharmacist can help with:</p>        
        <ul>
          <li>understanding the side effects of a medicine and what to do about them</li>
          <li>how and when to take your medicines to get the most out of them</li>
          <li>explaining how your medicines actually help</li>
          <li>organising alternatives to pills if you find them hard to swallow</li>
          <li>any other worries you have about your medicines, for example how to use an inhaler</li>
        </ul>        
        <p>Where necessary, your Well Pharmacist will talk to your GP to sort out a problem. You usually don’t need to go back and see your doctor.</p>        
        <p class="lead">You can talk to your Well Pharmacist about any problem or concern you have with your medicines. They’ll take the time to sort it out for you.</p>
        
        <h2>Who can benefit from a free medicines appointment</h2>        
        <p>You’ll get the most out of a free medicines appointment if you have a long-term condition and  are starting a new medicine or regularly taking more than one.</p>            
        <p>Long-term conditions include things like: asthma, COPD, high blood pressure, diabetes (type 1 or 2) or a heart condition.</p>
        
      </div>

    </div><!-- /.o-contain -->

    <div class="c-process c-process--three u-mb-xl">
        <div class="o-contain">
    
            <h2 class="c-process__title">Making an appointment is easy</h2>
    
            <ul class="c-process__list">
            <li class="c-process__item">
                <h3 class="c-process__number">1</h3>
                <div class="c-process__content">
                    <p><a href="https://finder.well.co.uk/" target="_blank">Go to your local Well Pharmacy or phone them</a>.</p>
                </div>
            </li>
            <li class="c-process__item">
                <h3 class="c-process__number">2</h3>
                <div class="c-process__content">
                    <p>Ask them for an appointment to talk about your medicines.</p>
                </div>          
            </li>
            <li class="c-process__item">
                <h3 class="c-process__number">3</h3>
                <div class="c-process__content">
                    <p>Go to your appointment and take your medicines with you.</p>
                </div>          
            </li>                               
            </ul>
    
        </div><!-- /.o-contain -->
    </div><!-- /.c-process -->

    <div class="o-contain">

      <div class="c-article u-article-content u-mb-xl"> 

        <p class="lead">You can also walk into any Well Pharmacy and ask for help with your medicines.</p>
         
        <h2>What happens in the appointment</h2>        
        <p>All Well Pharmacists are highly trained and will give you the best help possible with your medicines.</p>        
        <p>The appointment will be in a private consultation room at your local Well Pharmacy. It’s completely confidential.</p>        
        <p>Here is what happens, the pharmacist will:</p>        
        <ul>
          <li>have a chat with you about your medicines</li>
          <li>ask you about the medicines you currently take: side effects, how and when you take the medicines, any worries or difficulties you have</li>
          <li>explain any medicine side effects and what to do about them</li>
          <li>they will explain any medicine side effects for and what you could do about them</li>
          <li>give you practical advice on how to take your medication and how to remember what to take when</li>
        </ul>
        
        <p class="lead">You can ask any questions you like during the appointment. It is your time with the pharmacist.</p>
        
        <h2>How long the appointment lasts and what happens next</h2>
        <p>The appointment can last 10 to 45 minutes. It completely depends on your situation.</p>        
        <p>If your appointment is about a new prescription medicine, your Well Pharmacist may follow up with a couple of phone calls to see how you’re getting on.</p>

    </div>  

    <div class="c-media c-media--square u-mb-xl">
      <div class="c-media__figure">

        <picture>
            <source srcset="/public/images/temp-staff-medium.jpg,  /public/images/temp-staff-xl.jpg 2x" media="(min-width: 1300px)">                
            <source srcset="/public/images/temp-staff-medium.jpg, /public/images/temp-staff-large.jpg 2x" media="(min-width: 980px)">
            <source srcset="/public/images/temp-staff-large.jpg, /public/images/temp-staff-large.jpg 2x" media="(min-width: 740px)">
            <img class="c-media__img" srcset="/public/images/temp-staff-small.jpg, /public/images/temp-staff-medium.jpg 2x" alt="Image with picture element">
        </picture>

      </div>
      <div class="c-media__body">

          <h2 class="c-media__title">Phone your local Well Pharmacy</h2>
          <div class="c-media__content">
              <p>We have over 780 to choose from.</p>
          </div>
          <div class="c-media__btn">
              <a class="c-btn c-btn--arrow" href="https://finder.well.co.uk/" target="_blank">Find a pharmacy</a>
          </div>

      </div>
    </div>    

  </div>  
  
{% endblock %}    