{% set page = {
  title: 'Conditions'
} %}

{% extends "layouts/default.html" %}

{% block main %}

  <div class="o-contain">

    <div class="c-breadcrumb u-mt-base u-mb-base">
      <a class="c-breadcrumb__link" href="/">Home</a>
      <div class="c-breadcrumb__divider"> / </div>
      <div class="c-breadcrumb__section">Conditions</div>
    </div>

    <div class="c-page-heading u-mb-base">
      <h2 class="c-page-heading__title">How your Well pharmacist can help with a long-term condition</h2>
    </div>
    
    <div class="c-article u-article-content u-mb-xl">  
        
        <p class="lead">Well Pharmacies in England offer free appointments with a pharmacist to help with any difficulties you might have with medicines you take for your long-term condition.</p>            
        
        <p class="lead">This can save you trips to your GP and waiting times for appointments.</p>

        <h2>What your Well Pharmacist can help with</h2>

        <p>Your Well Pharmacist can help with:</p>
        
        <ul>
          <li>understanding the side effects of a new medicine and what to do about them</li>
          <li>confusion about which medicine to take when</li>
          <li>how to take your medicines to get the most out of them</li>
          <li>amending which medicines you should take and how much</li>
          <li>changing the type of pills you take if you find it hard to swallow them</li>
          <li>any other worries you have about taking your medicines</li>
        </ul>
        
        <p>Where necessary, your Well Pharmacist will talk to your GP to sort out a problem. You usually don’t need to go back and see your doctor.</p>
        
        <p class="lead">You can talk to your Well Pharmacist about any problem or concern you have with your medicines. They’ll take the time to sort it out for you.</p>
        
        <h2>Who can benefit from a free medicines appointment</h2>
        
        <p>You’ll get the most out of a free appointment with your Well Pharmacist if you’re both of these:</p>
        
        <h3>1. You’re on a repeat prescription and either:</h3>
        <ul>
        <li>have been recently prescribed a new medicine</li>
        <li>are on more than one medicine</li>
        </ul>
        
        <h3>2. You have a long-term condition, for example:</h3>
        <ul>
        <li>type 1 or 2 diabetes</li>
        <li>heart condition, for example heart attack, high blood pressure, hypertension</li>
        <li>lung condition (respiratory), for example asthma, emphysema, pulmonary fibrosis</li>
        <li>depression</li>
        </ul>
        
        <h2>Making an appointment is easy</h2>
        
        <ol>
          <li>Go to <a href="https://finder.well.co.uk/" target="_blank">your local Well Pharmacy</a> or phone them. </li>        
          <li>Ask them for an appointment to talk about your new medicine and its side effects or to get help if you’re confused about the medicines you’re currently taking</li>        
          <li>Go and see the pharmacist for your appointment. Take your medicines with you on.</li>
        </ol>
         
        <h2>What happens in the appointment</h2>
        
        <p>All Well Pharmacists are highly trained and will give you the best help possible with your medicines.</p>
        
        <p>The appointment will be in a private consultation room at your local Well Pharmacy. It’s completely confidential.</p>
        
        <h3>Here is what happens:</h3>
        
        <ul>
          <li>the Well Pharmacist will ask you to sign a consent form</li>
          <li>they will have a chat with you about your medicines</li>
          <li>they will ask you about the medicines you currently take: side effects, how and when you take the medicines, any worries or difficulties you have</li>
          <li>they will explain any medicine side effects for and what you could do about them</li>
          <li>they will give you practical advice on how to take your medication and how to remember what to take when</li>
        </ul>
        
        <p class="lead">You can ask any questions you have during the appointment. This is your time with the pharmacist.</p>
        
        <h2>How long the appointment lasts and what happens next</h2>
        <p>The appointment can last 10 to 45 minutes. It completely depends on your situation.</p>
        
        <p>If your appointment is about a new medicine you’ve been prescribed, your Well Pharmacist may will follow up with a couple of phone appointments to see how you’re getting on.</p>

    </div>  

  </div>  
  
{% endblock %}    