{% set page = {
  title: 'Conditions'
} %}

{% extends "layouts/default.html" %}

{% block main %}

  <div class="o-contain">

    <div class="c-breadcrumb u-mt-base u-mb-base">
      <a class="c-breadcrumb__link" href="/">Home</a>
      <div class="c-breadcrumb__divider"> / </div>
      <div class="c-breadcrumb__section">Conditions</div>
    </div>

    <div class="c-page-heading u-mb-base">
      <h1 class="c-page-heading__title c-page-heading__title--xl">How your Well pharmacist can help with your health condition</h1>
    </div>

    <div class="c-article u-article-content u-mb-xl">

        <p class="lead">Well Pharmacies in England offer appointments with a pharmacist to help with any difficulties you have taking medicines to manage a health condition.</p>
        <p class="lead">The service is free and can save you time visiting your GP and waiting for appointments as well as free up your GP's time.</p>

        <hr>

        <h2>How your Well Pharmacist can help</h2>
        <p>Your Well Pharmacist can help with:</p>
        <ul>
          <li>understanding the side effects of a medicine and what to do about them</li>
          <li>how and when to take your medicines to get the most out of them</li>
          <li>explaining how your medicines actually help</li>
          <li>organising alternatives to pills if you find them hard to swallow</li>
          <li>any other worries you have about your medicines, for example how to use an inhaler</li>
        </ul>
        <p>Where necessary, your Well Pharmacist will talk to your GP to sort out a problem. You usually don’t need to go back and see your doctor.</p>
        <p class="lead">You can talk to your Well Pharmacist about any problem or concern you have with your medicines. They’ll take the time to sort it out for you.</p>

        <hr>

        <h2>Who can benefit from a medicine appointment</h2>
        <p>You'll get the most out of the medicine appointment if you use medicine to manage a health condition and start a new medicine or regularly take more than one.</p>
        <p>It doesn't matter how old you are and the help is there for any health condition including asthma, COPD, high blood pressure, diabetes or a heart condition.</p>

      </div>

    </div><!-- /.o-contain -->

    <div class="c-process c-process--three u-mb-xl">
        <div class="o-contain">

            <h2 class="c-process__title">Making an appointment is easy</h2>

            <ul class="c-process__list">
              <li class="c-process__item">
                <div class="c-process__number">1</div>
                <h3 class="c-process__subtitle">Step 1: Contact the pharmacy</h3>
                <div class="c-process__content">
                  <p>Phone or drop in - we’ve 780 to choose from</p>
                </div>
            </li>
            <li class="c-process__item">
                <h3 class="c-process__number">2</h3>
                <h3 class="c-process__subtitle">Step 2: Ask for an appointment</h3>
                <div class="c-process__content">
                  <p>Tell them it’s to talk about your medicines</p>
                </div>
              </li>
              <li class="c-process__item">
                <div class="c-process__number">3</div>
                <h3 class="c-process__subtitle">Step 3: Go to your appointment</h3>
                <div class="c-process__content">
                  <p>Take your medicines with you</p>
                </div>
              </li>
            </ul>

        </div><!-- /.o-contain -->
    </div><!-- /.c-process -->

    <div class="o-contain">

      <div class="c-article u-article-content u-mb-xl">

        <p class="lead">You can also walk into any Well Pharmacy and ask for help with your medicines.</p>

        <hr>

        <h2>What happens in the appointment</h2>
        <p>The appointment is a bit like a 'medicine check-up' and is:</p>
        <ul>
          <li>free and confidential</li>
          <li>takes place in a private consultation room in the pharmacy</li>
          <li>lasts 10 to 45 minutes (it completely depends on your needs) </li>
        </ul>
        <p>All Well Pharmacists are highly trained and will talk about your medicines and help with any worries or problems you have.</p>
        <p>You can ask any questions you like (it’s your time with the pharmacist). </p>

        <p class="lead">You’ll get the best help possible with your medicines.</p>

        <hr>

        <h2>After your appointment</h2>
        <p>If your appointment is about a new prescription medicine, your Well Pharmacist may follow up with a couple of phone calls to see how you’re getting on.</p>

    </div>

    <div class="c-media u-mb-xxl">
      <div class="c-media__figure">

        <picture>
            <source srcset="/public/images/temp-staff-medium.jpg,  /public/images/temp-staff-xl.jpg 2x" media="(min-width: 1300px)">
            <source srcset="/public/images/temp-staff-medium.jpg, /public/images/temp-staff-large.jpg 2x" media="(min-width: 980px)">
            <source srcset="/public/images/temp-staff-large.jpg, /public/images/temp-staff-large.jpg 2x" media="(min-width: 740px)">
            <img class="c-media__img" srcset="/public/images/temp-staff-small.jpg, /public/images/temp-staff-medium.jpg 2x" alt="Image with picture element">
        </picture>

      </div>
      <div class="c-media__body">

          <h2 class="c-media__title">Get in touch with your local Well Pharmacy</h2>
          <div class="c-media__content">
              <p>We have over 780 to choose from.</p>
          </div>
          <div class="c-media__btn">
              <a class="c-btn c-btn--arrow" href="https://finder.well.co.uk/">Find a pharmacy</a>
          </div>

      </div>
    </div>

  </div>

{% endblock %}
