{% set page = {
  title: 'Policies'
} %}

{% extends "layouts/default.html" %}

{% block main %}

  <div class="o-contain">

    <div class="c-breadcrumb u-mt-base u-mb-base">
      <a class="c-breadcrumb__link" href="/">Home</a>
      <div class="c-breadcrumb__divider"> / </div>
      <div class="c-breadcrumb__section">Policies</div>
    </div>

    <div class="c-page-heading u-mb-base">
      <h2 class="c-page-heading__title c-page-heading__title--xl">Policies</h2>
    </div>

    <div class="c-article u-article-content u-mb-xxl">

      <p class="lead">Here you can find a range of information about Well and our policies. Please click on one of the links below to view this information.</p>

      <ul>
        <li><a href="accessibility.html">Accessibility</a></li>
        <li><a href="terms-conditions.html">Terms and conditions</a></li>
        <li><a href="cookies-policy.html">Cookies policy</a></li>
        <li><a href="privacy-policy.html">Privacy policy</a></li>
      </ul>

    </div>

  </div>

{% endblock %}
