{% set page = {
  title: 'Prescription Costs'
} %}

{% extends "layouts/default.html" %}

{% block main %}

  <div class="o-contain">

    <div class="c-breadcrumb u-mt-base u-mb-base">
      <a class="c-breadcrumb__link" href="/">Home</a>
      <div class="c-breadcrumb__divider"> / </div>
      <div class="c-breadcrumb__section">Prescription Costs</div>
    </div>

    <div class="c-page-heading u-mb-base">
      <h1 class="c-page-heading__title c-page-heading__title--xl ">Paying for your medicines</h1>
    </div>

    <div class="c-article u-article-content u-mb-xxl">

        <p class="lead">How much you pay depends on the number of medicines you’re on and where you live. Some people can get free NHS prescriptions.</p>

        <hr>

        <h2>NHS prescriptions charges</h2>
        <p>In England you pay £8.60 per medicine (so 2 medicines cost £17.20).</p>
        <p>In Scotland, Wales and Northern Ireland NHS prescriptions are free.</p>
        
        <hr>

        <h2>Private prescriptions charges</h2>
        <p>What you pay depends on the medicine you’re prescribed. To find out the cost, take your prescription to your <a href="https://finder.well.co.uk/" target="_blank">local Pharmacy</a>.</p>

        <hr>

        <h2>Check if you get free NHS prescriptions</h2>        
        <p>You might get free NHS prescriptions if you’re any of the following:</p>       
        <ul>
          <li>60 or over</li>
          <li>16 to 18 and in full time education</li>
          <li>15 or under</li>
          <li>pregnant</li>
          <li>had a baby in last 12 months </li>
          <li>have a disability</li>
          <li>have a long-term condition</li>
          <li>get tax credits</li>
          <li>get <a href="https://www.nhsbsa.nhs.uk/help-nhs-prescription-costs/free-nhs-prescriptions" target="_blank">certain benefits or are on a low income</a></li>          
        </ul>
        
        <p>If you have a long-term condition or disability your GP should give you an application form to fill in. Within 10 days the NHS will send you an exemption card that proves you don’t have to pay. Show this when you pick up your medicines. </p>        
        <p>If your GP didn’t give you an application form, phone the surgery to check you qualify for an exemption card.</p>        
        <p class="lead">Call the NHS helpline <a href="tel:+443003301349">0300 330 1349</a> if you think your prescription should be free.</p>

        <hr>

        <h2>Save money on your NHS medicines</h2>
        <p>If you’re on 2 or more medicines a month you can pay for your prescriptions in advance and save at least £7.50 a month. It’s a bit like buying season ticket.</p>        
        <p>You’ll have to buy a prepaid prescription card (sometimes called a prepayment certificate) from the NHS. You can do this online.</p>        
        <p><a href="https://apps.nhsbsa.nhs.uk/ppcwebsales/patient.do" target="_blank">Pay for your NHS prescriptions in advance</a>.</p>

    </div>

  </div>

{% endblock %}
