{% set page = {
  title: 'Prescription Costs'
} %}

{% extends "layouts/default.html" %}

{% block main %}

  <div class="o-contain">

    <div class="c-breadcrumb u-mt-base u-mb-base">
      <a class="c-breadcrumb__link" href="/">Home</a>
      <div class="c-breadcrumb__divider"> / </div>
      <div class="c-breadcrumb__section">Prescription Costs</div>
    </div>

    <div class="c-page-heading u-mb-base">
      <h1 class="c-page-heading__title c-page-heading__title--xl ">Paying for your medicines</h1>
    </div>

    <div class="c-article u-article-content u-mb-xxl">

        <p class="lead">How much you pay depends on the number of medicines you’re on and where you live. Some people can get free NHS prescriptions.</p>

        <hr>

        <h2>NHS prescriptions</h2>
        <p>In England you pay £8.60 for each medicine you’re prescribed.</p>
        <p>In Scotland, Wales and Northern Ireland you don’t pay anything.</p>

        <hr>

        <h2>Private prescriptions</h2>
        <p>What you pay depends on the medicine you’re prescribed. To find out the cost, take your prescription to your <a href="https://finder.well.co.uk/" target="_blank">local Pharmacy</a>.</p>

        <hr>

        <h2>Check if you get free NHS prescriptions</h2>
        <p>You might not have to pay for your NHS prescription if one or more of the following apply.</p>

        <h3>Age</h3>
        <p>You’re:</p>
        <ul>
          <li>60 or over</li>
          <li>16 to 18 and in full-time education</li>
          <li>15 or under</li>
        </ul>

        <h3>Long-term condition, disability or pregnancy</h3>
        <p>Your GP will give you an application form to fill in. Within 10 days the NHS should send you an exemption card that proves you don’t have to pay. Show this when you pick up your medicines.</p>
        <p>If your GP didn’t give you an application form, phone the surgery to check your long-term condition or disability qualifies for an exemption card.</p>

        <h3>Tax credits</h3>
        <p>If you get tax credits the NHS will automatically send you an exemption card.</p>

        <h3>Benefits or a low income</h3>
        <p>If you’re on certain benefits or a low income you might also <a href="https://www.nhsbsa.nhs.uk/nhs-low-income-scheme" target="_blank">qualify for free NHS prescriptions</a>.</p>

        <p class="lead">Call the NHS helpline <a href="tel:+443003301349">0300 330 1349</a> if you think your prescription should be free.</p>

        <hr>

        <h2>Save money on your NHS medicines</h2>
        <p>If you’re on 2 or more medicines a month you can pay for your prescriptions in advance and save at least £7.50 a month. It’s a bit like buying season ticket.</p>
        <p>You’ll have to buy a ‘prescription prepayment certificate’ from the NHS. You can do this online.</p>
        <p><a href="https://apps.nhsbsa.nhs.uk/ppcwebsales/patient.do" target="_blank">Pay for your NHS prescriptions in advance</a>.</p>

    </div>

  </div>

{% endblock %}
