{% set page = {
  title: 'Prescriptions'
} %}

{% extends "layouts/default.html" %}

{% block main %}

  <div class="o-contain">

    <div class="c-breadcrumb u-mt-base u-mb-base">
      <a class="c-breadcrumb__link" href="/">Home</a>
      <div class="c-breadcrumb__divider"> / </div>
      <div class="c-breadcrumb__section">Prescriptions</div>
    </div>

    <div class="c-page-heading u-mb-base">
      <h1 class="c-page-heading__title c-page-heading__title--xl ">Prescriptions</h1>
    </div>

    <div class="c-article u-article-content u-mb-xl">
        <p class="lead">Well Pharmacy makes prescriptions easy. All you have to do is drop into your local branch and pick up your medicines.</p>
    </div>

    <div class="c-media u-mb-large">
      <div class="c-media__figure">

        <picture>
            <source srcset="/public/images/temp-staff-medium.jpg,  /public/images/temp-staff-xl.jpg 2x" media="(min-width: 1300px)">
            <source srcset="/public/images/temp-staff-medium.jpg, /public/images/temp-staff-large.jpg 2x" media="(min-width: 980px)">
            <source srcset="/public/images/temp-staff-large.jpg, /public/images/temp-staff-large.jpg 2x" media="(min-width: 740px)">
            <img class="c-media__img" srcset="/public/images/temp-staff-small.jpg, /public/images/temp-staff-medium.jpg 2x" alt="Image with picture element">
        </picture>

      </div>
      <div class="c-media__body">

          <h2 class="c-media__title">Hassle-free repeat prescriptions</h2>
          <div class="c-media__content">
              <p>You can pick up your medicines from us - we’ve over 780 pharmacies to choose from.</p>
          </div>
          <div class="c-media__btn">
              <a class="c-btn" href="/repeat-prescriptions">Repeat prescriptions</a>
          </div>

      </div>
    </div>

    <ul class="c-card-list u-mb-base">
      <li class="c-card-list__item">
          <div class="c-card">
              <div class="c-card__body">
                  <h2 class="c-card__title">Prescriptions delivered to you for free</h2>
                  <div class="c-card__btn">
                      <a class="c-btn" href="/home-delivery">Home delivery</a>
                  </div>
              </div>
          </div>
      </li>
      <li class="c-card-list__item">
          <div class="c-card">
              <div class="c-card__body">
                  <h2 class="c-card__title">Help with prescription costs</h2>
                  <div class="c-card__btn">
                      <a class="c-btn" href="/prescription-costs">Prescription costs</a>
                  </div>
              </div>
          </div>
      </li>
    </ul>

    <div class="c-media c-media--primary c-media--reverse u-mb-xxl">
        <div class="c-media__figure">

            <picture>
                <source srcset="/public/images/temp-customer-medium.jpg,  /public/images/temp-customer-xl.jpg 2x" media="(min-width: 1300px)">
                <source srcset="/public/images/temp-customer-medium.jpg, /public/images/temp-customer-large.jpg 2x" media="(min-width: 980px)">
                <source srcset="/public/images/temp-customer-large.jpg, /public/images/temp-customer-large.jpg 2x" media="(min-width: 740px)">
                <img class="c-media__img" srcset="/public/images/temp-customer-small.jpg, /public/images/temp-customer-medium.jpg 2x" alt="Image with picture element">
            </picture>

        </div>
        <div class="c-media__body">

            <div class="c-media__subtitle">Happy customers</div>
            <h2 class="c-media__title">We help over 1.2 million people with their prescription</h2>

        </div>
    </div>

  </div>

{% endblock %}
