{% set page = {
  title: 'Terms & Conditions'
} %}

{% extends "layouts/default.html" %}

{% block main %}

  <div class="o-contain">

    <div class="c-breadcrumb u-mt-base u-mb-base">
      <a class="c-breadcrumb__link" href="/">Home</a>
      <div class="c-breadcrumb__divider"> / </div>
      <a class="c-breadcrumb__link" href="/policies.html">Policies</a>
      <div class="c-breadcrumb__divider"> / </div>
      <div class="c-breadcrumb__section">Privacy Policy</div>
    </div>

    <div class="c-page-heading u-mb-base">
      <h2 class="c-page-heading__title c-page-heading__title--xl">Plain English Privacy Policy</h2>
    </div>

    <div class="c-article u-article-content u-mb-xxl">

      <p>We are committed to protecting your privacy and we will always:</p>
      <ul>
        <li>keep your information safe and secure</li>
        <li>be clear about how we collect your information and why</li>
      </ul>

      <hr>

      <h2>How we collect your information</h2>
      <p>We collect your personal information when you</p>
      <ul>
        <li>shop with us</li>
        <li>use our services (repeat prescriptions)</li>
        <li>use our social media channels</li>
      </ul>
      <p>Our pharmacists may also ask to access your NHS records for medication and allergy history [when they’re doing your prescription].</p>

      <hr>

      <h2>Why we collect your information</h2>
      <p>We use your personal information for things like:</p>
      <ul>
        <li>confirming your identification when you contact us</li>
        <li>providing you with the best level of customer support.</li>
        <li>contacting you about your order such as a prescription or product recalls</li>
        <li>for prevention of crime and fraud</li>
      </ul>

      <hr>

      <h2>Sharing your information</h2>
      <p>We may share your information with third parties where required or permitted by law. In such cases we will do so legally and with due regard to your privacy.</p>

      <hr>

      <h2>Your rights</h2>
      <p>You can:</p>
      <ul>
        <li>get a copy of the information we hold about you</li>
        <li>change information that is incorrect</li>
        <li>opt out of promotions and offers</li>
      </ul>
      <p>To do any of this, contact our <a href="mailto:yourexperience@well.co.uk">customer care team</a>.</p>
      <p>For copies of your information we’ll ask for your name, address, date of birth and a copy of a photo ID (for example, a passport or driving licence). It can take up to 40 days to send you the copies.</p>

    </div>

  </div>

{% endblock %}
