{% set page = {
  title: 'Repeat Prescriptions'
} %}

{% extends "layouts/default.html" %}

{% block main %}

  <div class="o-contain">

    <div class="c-breadcrumb u-mt-base u-mb-base">
      <a class="c-breadcrumb__link" href="/">Home</a>
      <div class="c-breadcrumb__divider"> / </div>
      <a class="c-breadcrumb__link" href="/prescriptions">Prescriptions</a>
      <div class="c-breadcrumb__divider"> / </div>
      <div class="c-breadcrumb__section">Repeat prescriptions</div>
    </div>

  </div><!-- /.o-contain -->

  <div class="o-contain">

    <div class="c-page-heading u-mb-base">
      <h1 class="c-page-heading__title c-page-heading__title--xl">Getting repeat prescriptions from your Well Pharmacy</h1>
    </div>
            
    <div class="c-article u-article-content u-mb-xl">  
        <p class="lead">With repeat prescriptions you don’t need to pick up your prescription from your GP every time it’s renewed. Well Pharmacy will take care of everything for free.</p>
        <p class="lead">All you have to do is drop by your local Well Pharmacy and pick up your medicines. Someone else like a carer can pick them up for you too.</p>
    </div>

  </div><!-- /.o-contain -->

  <div class="c-process c-process--three u-mb-xl">
    <div class="o-contain">

      <h2 class="c-process__title">Setting up repeat prescriptions is easy</h2>

      <ul class="c-process__list">
        <li class="c-process__item">
          <div class="c-process__number">1</div>
          <h3 class="c-process__subtitle">Step 1: Choose a pharmacy</h3>
          <div class="c-process__content">
            <p>We've over 780 to choose from</p>
          </div>
        </li>
        
        <li class="c-process__item">
          <div class="c-process__number">2</div>
          <h3 class="c-process__subtitle">Step 2: Speak to your GP</h3>
          <div class="c-process__content">
            <p>Ask them to send your prescription to your chosen pharmacy - or take it yourself</p>
          </div>
        </li>
        <li class="c-process__item">
          <div class="c-process__number">3</div>
          <h3 class="c-process__subtitle">Step 3: Tell us</h3>
          <div class="c-process__content">
            <p><a href="https://finder.well.co.uk/" target="_blank">Go to the pharmacy</a> and tell them you want to set up repeat prescriptions - they’ll organise everything with your GP</p>
          </div>
        </li>
      </ul>

    </div><!-- /.o-contain -->
  </div>

  <div class="o-contain">
            
    <div class="c-article u-article-content u-mb-xl">  
        <h2>Never run out of medicines</h2>      
        <p>Approximately 7 days before your medicines are due to run out the pharmacy will contact you to confirm when your repeat prescription will be ready. You can pick it up yourself or <a href="/home-delivery">get free home delivery</a>.</p>
    </div>

  </div><!-- /.o-contain -->

  <div class="o-contain">

    <div class="c-media c-media--primary c-media--reverse u-mb-xl">
      <div class="c-media__figure">

        <picture>
            <source srcset="/public/images/temp-customer-medium.jpg,  /public/images/temp-customer-xl.jpg 2x" media="(min-width: 1300px)">
            <source srcset="/public/images/temp-customer-medium.jpg, /public/images/temp-customer-large.jpg 2x" media="(min-width: 980px)">
            <source srcset="/public/images/temp-customer-large.jpg, /public/images/temp-customer-large.jpg 2x" media="(min-width: 740px)">
            <img class="c-media__img" srcset="/public/images/temp-customer-small.jpg, /public/images/temp-customer-medium.jpg 2x" alt="Image with picture element">
        </picture>

      </div>
      <div class="c-media__body">

        <blockquote class="c-media__quote">
          <p>&ldquo;Well Pharmacy make everything so easy for me and take care of my prescriptions. It’s one less thing for me to worry about.&rdquo;</p>
          <cite class="c-media__cite">Arthur - Wolverhampton</cite>
        </blockquote>

      </div>
    </div>

  </div><!-- /.o-contain -->

  <div class="o-contain">

    <div class="c-page-heading u-mb-base">
      <h2 class="c-page-heading__title">Managing your repeat prescription</h2>
    </div>

    <div class="c-accordion u-mb-xl js-accordion" role="tablist" aria-live="polite">
      <div class="c-accordion__title js-accordion-trigger" id="tab0" aria-controls="panel0" role="tab">
          You change GP
          <div class="c-accordion__symbol">
              <div class="c-accordion__icon"></div>
          </div>
      </div>
      <div class="c-accordion__content u-article-content" id="panel0" aria-labelledby="tab0" role="tabpanel">
          <p>Let your new GP know which <a href="https://finder.well.co.uk/" target="_blank">Well Pharmacy</a> you’re using for your prescriptions.</p>
      </div>
      <div class="c-accordion__title js-accordion-trigger" id="tab1" aria-controls="panel1" role="tab">
          You move house
          <div class="c-accordion__symbol">
              <div class="c-accordion__icon"></div>
          </div>
      </div>
      <div class="c-accordion__content u-article-content" id="panel1" aria-labelledby="tab1" role="tabpanel">
          <p>Let your GP and Well pharmacy know you’ve moved.</p>
      </div>
      <div class="c-accordion__title js-accordion-trigger" id="tab2" aria-controls="panel2" role="tab">
          Your GP changes your prescription
          <div class="c-accordion__symbol">
              <div class="c-accordion__icon"></div>
          </div>
      </div>
      <div class="c-accordion__content u-article-content" id="panel2" aria-labelledby="tab2" role="tabpanel">
          <p>You don’t have to do anything.</p>
          <p>Your Well Pharmacy will get the new prescription from your GP and have your medicines ready for you when you need them.</p>
      </div>
      <div class="c-accordion__title js-accordion-trigger" id="tab3" aria-controls="panel3" role="tab">
          You no longer need your prescription
          <div class="c-accordion__symbol">
              <div class="c-accordion__icon"></div>
          </div>
      </div>
      <div class="c-accordion__content u-article-content">
          <p>Tell your Well Pharmacy so they know not to contaxct your GP and take up their time.</p>            
          <p>You can do this by phone or dropping into the branch - <a href="https://finder.well.co.uk/" target="_blank">find your Well Pharmacy</a>.</p>
      </div>      
    </div>    

  </div><!-- /.o-contain -->

  <div class="o-contain">

    <div class="c-article u-article-content u-mb-xl">

      <h2>Problems or worries with your medicines</h2>
      <p>If you have any problems taking your medicines or any other worries, just drop into your local Well Pharmacy and talk to your pharmacist.</p>
      <p>Your Well Pharmacist can, for example, help with:</p>
      <ul>
        <li>alternative to pills - if you find them hard to swallow</li>
        <li>side effects of a new medicine and what to do about them</li>
        <li>confusion about which medicine to take when</li>
      </ul>
      <p>Where necessary, your Well Pharmacist will talk to your GP to sort out a problem. You usually don’t need to go back and see your doctor.</p>

    </div>

    <div class="c-media u-mb-xl">
        <div class="c-media__figure">

          <picture>
              <source srcset="/public/images/temp-staff-medium.jpg,  /public/images/temp-staff-xl.jpg 2x" media="(min-width: 1300px)">
              <source srcset="/public/images/temp-staff-medium.jpg, /public/images/temp-staff-large.jpg 2x" media="(min-width: 980px)">
              <source srcset="/public/images/temp-staff-large.jpg, /public/images/temp-staff-large.jpg 2x" media="(min-width: 740px)">
              <img class="c-media__img" srcset="/public/images/temp-staff-small.jpg, /public/images/temp-staff-medium.jpg 2x" alt="Image with picture element">
          </picture>

        </div>
        <div class="c-media__body">

            <h2 class="c-media__title">Find your local Well Pharmacy</h2>
            <div class="c-media__content">
                <p>We have over 780 to choose from.</p>
            </div>
            <div class="c-media__btn">
                <a class="c-btn c-btn--arrow" href="https://finder.well.co.uk/" target="_blank">Find a pharmacy</a>
            </div>

        </div>
      </div>

      <div class="c-page-heading u-mb-base">
        <h2 class="c-page-heading__title">Other ways we can help</h2>
      </div>

      <ul class="c-card-list u-mb-xxl">
        <li class="c-card-list__item">
            <div class="c-card">
                <div class="c-card__body">
                    <h2 class="c-card__title">Help with prescription costs</h2>
                    <div class="c-card__btn">
                        <a class="c-btn" href="/prescription-costs">Prescription costs</a>
                    </div>
                </div>
            </div>
        </li>
        <li class="c-card-list__item">
            <div class="c-card">
                <div class="c-card__body">
                    <h2 class="c-card__title">Prescriptions delivered for free</h2>
                    <div class="c-card__btn">
                        <a class="c-btn" href="/home-delivery">Home delivery</a>
                    </div>
                </div>
            </div>
        </li>
      </ul>

    </div><!-- /.o-contain -->

{% endblock %}
