{% set page = {
  title: 'Repeat Prescriptions'
} %}

{% extends "layouts/default.html" %}

{% block main %}

  <div class="o-contain">

    <div class="c-breadcrumb u-mt-base u-mb-base">
      <a class="c-breadcrumb__link" href="/">Home</a>
      <div class="c-breadcrumb__divider"> / </div>
      <a class="c-breadcrumb__link" href="/prescriptions">Prescriptions</a>
      <div class="c-breadcrumb__divider"> / </div>
      <div class="c-breadcrumb__section">Repeat prescriptions</div>
    </div>

  </div><!-- /.o-contain -->

  <div class="o-contain">

    <div class="c-page-heading u-mb-base">
      <h2 class="c-page-heading__title c-page-heading__title--xl">Getting repeat prescriptions from your Well Pharmacy</h2>
    </div>
            
    <div class="c-article u-article-content u-mb-xl">  
        <p>With repeat prescriptions you don’t need to pick up your prescription from your GP every time it’s renewed. Well Pharmacy will take care of everything.</p>
        <p>All you have to do is drop by your local Well Pharmacy and pick up your medicines. Someone else like a carer can pick them up for you too.</p>
    </div>   

  </div><!-- /.o-contain -->    

  <div class="c-process u-mb-xl">
    <div class="o-contain">

      <h2 class="c-process__title">How to set up repeat prescriptions</h2>

      <ul class="c-process__list">
        <li class="c-process__item">
          <h3 class="c-process__number">1</h3>
          <div class="c-process__content">
            <p>Ask your GP to send your prescription to your <a href="https://finder.well.co.uk/" target="_blank">nearest Well Pharmacy</a> - or take it yourself.</p>
          </div>
        </li>
        <li class="c-process__item">
          <h3 class="c-process__number">2</h3>
          <div class="c-process__content">
            <p>Go to the pharmacy and tell them you want to set up repeat prescriptions - they’ll organise everything with your GP.</p>          
          </div>          
        </li>                 
      </ul>

    </div><!-- /.o-contain -->                        
  </div>

  <div class="o-contain">
    
    <div class="c-page-heading u-mb-base">
      <h2 class="c-page-heading__title">How repeat prescriptions work</h2>
    </div>
            
    <div class="c-article u-article-content u-mb-xl">  
        <p>Approximately 7 days before your medicines are due to run out the pharmacy will contact you to confirm when your repeat prescription will be ready. You can pick it up yourself or <a href="/home-delivery">get free home delivery</a>.</p>
    </div>   

  </div><!-- /.o-contain --> 
    
  <div class="o-contain">

    <div class="c-media c-media--primary c-media--square c-media--reverse u-mb-xl">
      <div class="c-media__figure">

        <picture>
            <source srcset="/public/images/temp-customer-medium.jpg,  /public/images/temp-customer-xl.jpg 2x" media="(min-width: 1300px)">                
            <source srcset="/public/images/temp-customer-medium.jpg, /public/images/temp-customer-large.jpg 2x" media="(min-width: 980px)">
            <source srcset="/public/images/temp-customer-large.jpg, /public/images/temp-customer-large.jpg 2x" media="(min-width: 740px)">
            <img class="c-media__img" srcset="/public/images/temp-customer-small.jpg, /public/images/temp-customer-medium.jpg 2x" alt="Image with picture element">
        </picture>

      </div>
      <div class="c-media__body">

        <blockquote class="c-media__quote">
          <p>&ldquo;Well Pharmacy make everything so easy for me and take care of my prescriptions. It’s one less thing for me to worry about.&rdquo;</p>
          <cite class="c-media__cite">Arthur - Wolverhampton</cite>
        </blockquote>

      </div>
    </div>  

  </div><!-- /.o-contain --> 

  <div class="o-contain">

    <div class="c-page-heading u-mb-base">
      <h2 class="c-page-heading__title">Managing your repeat prescription</h2>
    </div>

    <div class="c-accordion u-mb-xl js-accordion">
      <div class="c-accordion__title js-accordion-trigger">
          You change GP
          <div class="c-accordion__symbol">
              <div class="c-accordion__icon"></div>
          </div>
      </div>
      <div class="c-accordion__content u-article-content">
          <p>Let your new GP know which <a href="https://finder.well.co.uk/" target="_blank">Well Pharmacy</a> you’re using for your prescriptions.</p>
      </div>
      <div class="c-accordion__title js-accordion-trigger">
          You move house
          <div class="c-accordion__symbol">
              <div class="c-accordion__icon"></div>
          </div>
      </div>
      <div class="c-accordion__content u-article-content">
          <p>Let your GP and Well pharmacy know you’ve moved.</p>
      </div>
      <div class="c-accordion__title js-accordion-trigger">
          Your GP changes your prescription
          <div class="c-accordion__symbol">
              <div class="c-accordion__icon"></div>
          </div>
      </div>
      <div class="c-accordion__content u-article-content">
          <p>You don’t have to do anything.</p>            
          <p>Your Well Pharmacy will get the new prescription from your GP and have your medicines ready for you when you need them.</p>
      </div>
      <div class="c-accordion__title js-accordion-trigger">
          You no longer need your prescription
          <div class="c-accordion__symbol">
              <div class="c-accordion__icon"></div>
          </div>
      </div>
      <div class="c-accordion__content u-article-content">
          <p>Tell your Well Pharmacy.</p>            
          <p>You can do this by <a href="https://finder.well.co.uk/" target="_blank">phone or drop into the branch</a>.</p>
      </div>      
    </div>    

  </div><!-- /.o-contain -->  

  <div class="o-contain">
    
    <div class="c-page-heading u-mb-base">
      <h2 class="c-page-heading__title">Problems or worries with your medicines</h2>
    </div>
            
    <div class="c-article u-article-content u-mb-xxl">  

      <p>If you have any problems taking your medicines or any other worries, just drop into your local Well Pharmacy and talk to your pharmacist.</p>
      <p>Your Well Pharmacist can, for example, help with:</p>
      <ul>
        <li>alternative to pills - if you find them hard to swallow</li>
        <li>side effects of a new medicine and what to do about them</li>
        <li>confusion about which medicine to take when</li>
      </ul>        
      <p>Where necessary, your Well Pharmacist will talk to your GP to sort out a problem. You usually don’t need to go back and see your doctor.</p>        

    </div>   

  </div><!-- /.o-contain -->

{% endblock %}