{% set page = {
  title: 'Repeat Prescriptions'
} %}

{% extends "layouts/default.html" %}

{% block main %}

  <div class="o-contain">

    <div class="c-breadcrumb u-mt-base u-mb-base">
      <a class="c-breadcrumb__link" href="/">Home</a>
      <div class="c-breadcrumb__divider"> / </div>
      <a class="c-breadcrumb__link" href="/prescriptions">Prescriptions</a>
      <div class="c-breadcrumb__divider"> / </div>
      <div class="c-breadcrumb__section">Repeat prescriptions</div>
    </div>

  </div><!-- /.o-contain -->

  <div class="o-contain">

    <div class="c-page-heading u-mb-base">
      <h2 class="c-page-heading__title c-page-heading__title--xl">Repeat Prescriptions</h2>
    </div>
            
    <div class="c-article u-article-content u-mb-xl">  
        <p>With repeat prescriptions you don’t have to pick up your prescription slip from your GP every time it’s renewed. Well Pharmacy will take care of everything.</p>
        <p>All you have to do is drop by your Well Pharmacy and pick up your new medicines - we will have them all ready for you.</p>
    </div>   

  </div><!-- /.o-contain -->    

  <div class="c-process u-mb-xl">
    <div class="o-contain">

      <h2 class="c-process__title">How to set up repeat prescriptions</h2>

      <ul class="c-process__list">
        <li class="c-process__item">
          <h3 class="c-process__number">1</h3>
          <div class="c-process__content">
            <p>Drop your first paper prescription off at a <a href="#">Well Pharmacy near you</a> or have your GP send it electronically.</p>
          </div>
        </li>
        <li class="c-process__item">
          <h3 class="c-process__number">2</h3>
          <div class="c-process__content">
            <p>Tell the pharmacist that you would like to set up repeat prescriptions with their branch.</p>          
          </div>          
        </li>
        <li class="c-process__item">
          <h3 class="c-process__number">3</h3>
          <div class="c-process__content">
            <p>All future prescriptions will now be sent to this pharmacy.</p>            
          </div>
        </li>
        <li class="c-process__item">
          <h3 class="c-process__number">4</h3>
          <div class="c-process__content">
            <p>A week before you run out of your medication go to your Well Pharmacy and pick up your new batch of medicines. If you get your medicines delivered we’ll come by your house and drop them off on the usual day.</p>            
          </div>
        </li>                  
      </ul>

    </div><!-- /.o-contain -->                        
  </div>

  <div class="o-contain">

    <div class="c-alert u-mb-xl">
      You have to <a href="#">pay for your medicines</a> every time you pick up a new batch unless you’re exempt.
    </div>  
    
  </div><!-- /.o-contain -->     
    
  <div class="o-contain">

    <div class="c-media c-media--primary c-media--square c-media--reverse u-mb-xl">
      <div class="c-media__figure">

        <picture>
          <source srcset="/public/images/placeholder-medium.jpg,  /public/images/placeholder-xl.jpg 2x" media="(min-width: 1300px)">                
          <source srcset="/public/images/placeholder-medium.jpg, /public/images/placeholder-large.jpg 2x" media="(min-width: 980px)">
          <source srcset="/public/images/placeholder-large.jpg, /public/images/placeholder-large.jpg 2x" media="(min-width: 740px)">
          <img class="c-media__img" srcset="/public/images/placeholder-small.jpg, /public/images/placeholder-medium.jpg 2x" alt="Image with picture element">
        </picture>

      </div>
      <div class="c-media__body">

        <blockquote class="c-media__quote">
          <p>&ldquo;Well Pharmacy make everything so easy for me and take care of my prescriptions. It’s one less thing for me to worry about.&rdquo;</p>
          <cite class="c-media__cite">Arthur - Wolverhampton</cite>
        </blockquote>

      </div>
    </div>  

  </div><!-- /.o-contain --> 

  <div class="o-contain">

    <div class="c-page-heading u-mb-base">
      <h2 class="c-page-heading__title">Changing or cancelling your repeat prescription</h2>
    </div>

    <div class="c-accordion u-mb-xxl js-accordion">
      <div class="c-accordion__title js-accordion-trigger">
          You've moved house
          <div class="c-accordion__symbol">
              <div class="c-accordion__icon"></div>
          </div>
      </div>
      <div class="c-accordion__content u-article-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor dictum velit, sed pretium libero tempor ac. Quisque finibus arcu vitae justo dapibus, ut mattis lectus imperdiet. Quisque vel nibh sed lorem mattis tincidunt vel commodo mauris. Maecenas eu magna sed tellus iaculis dapibus ac sit amet mi. Sed ornare cursus libero, nec tempor dolor viverra in. Nunc gravida ante nisi.</p>
      </div>
      <div class="c-accordion__title js-accordion-trigger">
          Your prescription has changed
          <div class="c-accordion__symbol">
              <div class="c-accordion__icon"></div>
          </div>
      </div>
      <div class="c-accordion__content u-article-content">
          <p>For example, because your condition has improved or got worse.</p>
          <p>You don’t have to do anything. The new prescription will be waiting at your nominated Well Pharmacy the next time you come in.</p>
      </div>
      <div class="c-accordion__title js-accordion-trigger">
          You no longer need the repeat prescription
          <div class="c-accordion__symbol">
              <div class="c-accordion__icon"></div>
          </div>
      </div>
      <div class="c-accordion__content u-article-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor dictum velit, sed pretium libero tempor ac. Quisque finibus arcu vitae justo dapibus, ut mattis lectus imperdiet. Quisque vel nibh sed lorem mattis tincidunt vel commodo mauris. Maecenas eu magna sed tellus iaculis dapibus ac sit amet mi. Sed ornare cursus libero, nec tempor dolor viverra in. Nunc gravida ante nisi.</p>
      </div>      
    </div>    

  </div><!-- /.o-contain -->  

{% endblock %}