{% set page = {
  title: 'Well Careplus'
} %}

{% extends "layouts/default.html" %}

{% block main %}

  <div class="o-contain">

    <div class="c-breadcrumb u-mt-base u-mb-base">
      <a class="c-breadcrumb__link" href="/">Home</a>
      <div class="c-breadcrumb__divider"> / </div>
      <div class="c-breadcrumb__section">Well Careplus</div>
    </div>

    <div class="c-page-heading u-mb-base">
      <h1 class="c-page-heading__title c-page-heading__title--xl">Well Careplus</h1>
    </div>

    <div class="c-article u-article-content u-mb-xxl">


    </div>

  </div>

{% endblock %}
