// ------------------------------------------------------
//  Core
// ------------------------------------------------------

$labcoat-is-ie: false !default;

// Global settings
$labcoat-global-font-family-regular:  "TheinhardtRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
$labcoat-global-font-family-medium:   "TheinhardtMedium", "Helvetica Neue", Helvetica, Arial, sans-serif;
$labcoat-global-font-size:            10px !default;
$labcoat-global-input-height:         50px;
$labcoat-global-transition:           all 300ms ease-in-out !default;

// Brand & supporting colors
$labcoat-colors: (
  cerulean:         #0097BD,
  deep-cerulean:    #0080A4,
  regal-blue:       #033E52,
  atlantis:         #7FBA2A,
  green-haze:       #009A3A,
  mountain-meadow:  #15AA99,
  solid-black:      #000000,
  thunder:          #231F20,
  gothic:           #688B97,
  boulder:          #787878,
  iron:             #DCDDDE,
  flame-pea:        #E14F47,
  neon-carrot:      #FF8D42,
  gallery:          #EBEBEB,
  lighter-grey:     #EFF1F2,
  alabaster:        #FDFDFD,
  polar:            #F2FAFC,
  porcelain:        #F7F8F9,
  solid-white:      #FFFFFF
);

// Theme colors
$labcoat-theme-colors: (
  accordion-border:                 iron,
  accordion-title:                  cerulean,
  accordion-symbol-bg:              solid-white,
  accordion-symbol-border:          cerulean,
  accordion-symbol-color:           cerulean,
  accordion-symbol-open-bg:         cerulean,
  accordion-symbol-open-border:     cerulean,
  accordion-symbol-open-color:      solid-white,
  alert-bg:                         porcelain,
  article-heading:                  cerulean,
  article-blockquote:               cerulean,
  banner-bg:                        porcelain,
  banner-badge-color:               solid-white,
  breadcrumb-divider:               gothic,
  breadcrumb-link:                  gothic,
  breadcrumb-link-hover:            regal-blue,
  card-bg:                          polar,
  card-title:                       cerulean,
  default-border:                   iron,
  default-link:                     cerulean,
  default-link-hover:               regal-blue,
  default-text:                     regal-blue,
  footer-bg:                        solid-white,
  footer-border:                    lighter-grey,
  footer-copyright:                 gothic,
  footer-link:                      regal-blue,
  footer-link-hover:                cerulean,
  footer-shadow:                    iron,
  footer-cta-border:                iron,
  footer-cta-title:                 cerulean,
  header-bg:                        solid-white,
  header-border:                    lighter-grey,
  header-shadow:                    iron,
  hero-text:                        cerulean,
  input-bg:                         solid-white,
  input-border:                     thunder,
  input-disabled:                   iron,
  input-placeholder:                cerulean,
  media-default-bg:                 polar,
  media-default-title:              cerulean,
  media-default-list-border:        iron,
  media-default-list-link:          regal-blue,
  media-default-list-link-hover:    cerulean,
  media-primary-bg:                 cerulean,
  media-primary-text:               solid-white,
  media-primary-list-border:        solid-white,
  media-primary-list-link:          solid-white,
  media-primary-list-link-hover:    regal-blue,
  nav-link:                         regal-blue,
  nav-link-hover:                   cerulean,
  process-bg:                       polar,
  process-title:                    cerulean,
  process-number-bg:                cerulean,
  process-number-color:             solid-white,
  process-subtitle:                 cerulean,
  review-bg:                        polar,
  review-quote:                     cerulean,
  review-cite:                      gothic,
  state-default:                    cerulean,
  state-success:                    atlantis,
  state-danger:                     flame-pea,
  state-warning:                    neon-carrot,
  menu-bg:                          lighter-grey
);

// Font families
$labcoat-font-families: (
  base:             $labcoat-global-font-family-regular,
  medium:           $labcoat-global-font-family-medium
);

// Font weights
$labcoat-font-weights: (
  base:             400,
  medium:           500
);

// Font sizes
$labcoat-font-sizes: (
  base:             20px,
  small:            18px,
  medium:           26px,
  large:            38px,
  xl:               60px
);

// Line heights
$labcoat-font-leading: (
  base:             1.6,    // 32px / 20px = 1.6
  small:            1.66,   // 30px / 18px = 1.66
  medium:           1.3,    // 34px / 26px = 1.3
  large:            1.3,    // 50px / 38px = 1.3
  xl:               1.2     // 72px / 60px = 1.2
);

// Buttons
$labcoat-buttons: (
  default: (
    bg-color:             cerulean,
    border-color:         cerulean,
    color:                solid-white,
    hover-bg-color:       regal-blue,
    hover-border-color:   regal-blue,
    hover-color:          solid-white
  ),
  disabled: (
    bg-color:             iron,
    border-color:         iron,
    color:                solid-white,
    hover-bg-color:       iron,
    hover-border-color:   iron,
    hover-color:          solid-white
  ),
  secondary: (
    bg-color:             solid-white,
    border-color:         cerulean,
    color:                cerulean,
    hover-bg-color:       solid-white,
    hover-border-color:   regal-blue,
    hover-color:          regal-blue
  ),
  nav: (
    bg-color:             solid-white,
    border-color:         cerulean,
    color:                cerulean,
    hover-bg-color:       solid-white,
    hover-border-color:   cerulean,
    hover-color:          cerulean
  )
);
