// ------------------------------------------------------
//  Articles
// ------------------------------------------------------

.u-article-content {

  h1,
  h2 {
    margin-bottom: 40px; // 60px total
  }

  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 28px; // 45px total
  }

  h2 {
    @include labcoat-font-size(large); 
  }

  h3 {
    @include labcoat-font-size(medium); 
  }  
  
  p {
    margin-bottom: 22px; // 35px total
  }

  p,
  ol,
  ul {
    & + {
      & h1,
      & h2,
      & h3,
      & h4,
      & h5,
      & h6,
      & p.lead {      
        margin-top: 65px; // 80px total
      }
    }
  }

  p.lead + p.lead {
    margin-top: 30px; // 45px total
  }

  ol,
  ul {
    list-style-position: inside;
    margin: 22px 0; // 35px total
    padding-left: 0;
    & ol, 
    & ul {
      margin-bottom: 0;
      padding-left: 40px;
    }
    ol {
      list-style-type: lower-roman;
    }  
  }
  
  li {
    margin-bottom: 8px; // 20px total
    ul, ol {
      margin-top: 8px; // 20px total
    }
  }  

  blockquote {
    margin: 0;
    p {
      color: labcoat-theme-color(article-blockquote);
      margin: 67px 0; // 80px total      
      @include labcoat-font-family(medium);
      @include labcoat-font-size(medium);
      @include mq($from: large) {
        margin: 62px 0; // 80px total
        @include labcoat-font-size(large);
      }
    }
  }  

}