// ------------------------------------------------------
//  Margins
// ------------------------------------------------------

// Margin bottom
.u-mb-base {
  margin-bottom: 21px;
  @include mq($from: medium) {
    margin-bottom: 42px; // 100px total
  }
}

.u-mb-large {
  margin-bottom: 30px;
  @include mq($from: medium) {
    margin-bottom: 60px; // 100px total
  }
}

.u-mb-xl {
  margin-bottom: 46px;
  @include mq($from: medium) {
    margin-bottom: 92px; // 100px total
  }
}

.u-mb-xxl {
  margin-bottom: 100px;
  @include mq($from: medium) {
    margin-bottom: 200px; // 200px total
  }
}

// Margin Top
.u-mt-base {
  margin-top: 16px; // 40px total
  @include mq($from: medium) {
    margin-top: 32px; // 40px total
  }
}

.u-mt-large {
  margin-top: 30px;
  @include mq($from: medium) {
    margin-top: 60px;
  }
}

.u-mt-xl {
  margin-top: 46px;
  @include mq($from: medium) {
    margin-top: 92px; // 100px total
  }
}
