// ------------------------------------------------------
//  Margins
// ------------------------------------------------------

// Margin bottom
.u-mb-base {
  margin-bottom: 42px; // 60px total
}

.u-mb-large {
  margin-bottom: 60px;
}

.u-mb-xl {
  margin-bottom: 92px; // 100px total
}

.u-mb-xxl {
  margin-bottom: 200px; // 200px total
}

// Margin Top
.u-mt-base {
  margin-top: 32px; // 40px total
}

.u-mt-large {
  margin-top: 60px;
}

.u-mt-xl {
  margin-top: 92px; // 100px total
}