{% extends "master_layout.html" %}

{% block head_scripts %}
    <script>
        // Picture element HTML5 shiv
        document.createElement( "picture" );
    </script>
    <script src="/public/javascripts/picturefill.js" async></script>
    <script src="/public/javascripts/support.js" async></script>    
{% endblock %}

{% block body_scripts %}
    <script src="/public/javascripts/jquery-1.11.3.js" defer></script>
    <script src="/public/javascripts/class.js" defer></script>
    <script src="/public/javascripts/lockscroll.js" defer></script>
    <script src="/public/javascripts/app.js" defer></script>
    <script src="/public/javascripts/accordion.js" defer></script>
    <script src="/public/javascripts/menu.js" defer></script>
{% endblock %}

{% block master_body %}

    {# block to for content directly beneath the opening html body tag #}
    {% block body_top %}{% endblock %}

    {# primary default body content block #}
    {% block body_content %}

        {% block header %}
        <header class="c-header js-header" role="banner">
            <div class="o-contain">      
                <a class="c-header__logo-link" href="/" title="Well homepage" rel="home">
                    <span class="c-header__logo">Well</span>
                </a>
                <div class="c-header__navigation">
                    <a class="c-btn c-btn--arrow c-btn--header" href="https://finder.well.co.uk" target="_blank">Find a Pharmacy</a>                
                    <div class="c-nav">
                        <ul class="c-nav__list">
                            <li class="c-nav__item">
                                <a class="c-nav__link" href="/prescriptions">Prescriptions</a>
                            </li>
                            <li class="c-nav__item">
                                <a class="c-nav__link" href="/long-term-conditions">Conditions</a>
                            </li>                  
                        </ul>
                    </div>
                </div>
                <button class="c-btn c-btn--toggle c-btn--secondary c-header__menu-button js-menu-button" aria-expanded="false" aria-controls="primary-navigation">
                    <span class="c-btn__text js-menu-button-text" data-open-text="Close" data-closed-text="Menu">Menu</span>
                    <span class="c-btn__icon c-btn__icon--open"></span>
                    <span class="c-btn__icon c-btn__icon--closed"></span>
                </button>
            </div><!-- /.o-contain -->
        </header><!-- /.c-header -->

        <nav class="c-primary-navigation js-primary-navigation" id="primary-navigation" role="navigation">
            <div class="o-contain">
                <ul class="c-list-group">
                    <li class="c-list-group__item">
                        <a class="c-list-group__link" href="https://finder.well.co.uk" target="_blank">Find a Pharmacy</a>
                    </li>
                    <li class="c-list-group__item">
                        <a class="c-list-group__link" href="/prescriptions">Prescriptions</a>
                    </li>
                    <li class="c-list-group__item">
                        <a class="c-list-group__link" href="/long-term-conditions">Conditions</a>
                    </li>                
                </ul>
            </div>
        </nav>

        {% endblock %}
        
        <main>{% block main %}{% endblock %}</main>

        {% block footer %}

            <footer class="c-footer">
                <div class="o-contain">
                                
                    <div class="c-footer__cta">
                        <h2 class="c-footer__cta__title">Talk to us</h2>
                        <div class="c-footer__cta__content">
                            <p>We have a team on hand to answer your questions.</p>
                            <p>
                                <span class="c-footer__cta__contact">Phone: <a href="tel:+3330102222">0333 010 2222</a></span>
                                <span class="c-footer__cta__contact">Email: <a href="mailto:hello@well.co.uk">hello@well.co.uk</a></span>
                            </p>
                        </div>
                    </div>

                    <ul class="c-footer__nav">
                        <li class="c-footer__nav__item">
                            <a class="c-footer__nav__link" href="#">About</a>
                        </li>
                        <li class="c-footer__nav__item">
                            <a class="c-footer__nav__link" href="#">Contact</a>
                        </li>
                        <li class="c-footer__nav__item">
                            <a class="c-footer__nav__link" href="#">Policies</a>
                        </li>
                        <li class="c-footer__nav__item">
                            <a class="c-footer__nav__link" href="#">News</a>
                        </li>
                        <li class="c-footer__nav__item">
                            <a class="c-footer__nav__link u-external-link" href="http://wellcareers.co.uk" target="_blank">Careers</a>
                        </li>
                        <li class="c-footer__nav__item">
                            <a class="c-footer__nav__link u-external-link" href="https://www.well.co.uk/wellcareplus" target="_blank">Well Careplus</a>
                        </li>
                     </ul>

                    <div class="c-footer__copyright">
                        Copyright &copy; Bestway Panacea Healthcare Ltd. All rights reserved.
                    </div>

                </div><!-- /.o-contain -->
            </footer><!-- /.c-footer -->

        {% endblock %}

    {% endblock %}

    {# block to for content directly above the close html body tag #}
    {% block body_bottom %}{% endblock %}

{% endblock %}

