{% extends "layouts/default.html" %}

{% macro docs_section(config) %}
    {% if caller %}
        <div class="docs__section">

            {% if config.title %}
                <h2 id="{{ config.title | slugify }}" class="docs__heading">{{ config.title }}</h2>
            {% endif %}

            <div class="docs__example">
                {{ caller() }}
            </div><!-- /.docs__example -->

        </div><!-- /.docs__section -->        
    {% else %}
        <p>You need to use 'call' to for this macro! </p>
    {% endif %}
{% endmacro %}

{% block main %}

    <div class="o-contain">

        <div class="docs">

            <h1 class="docs__title">Prototyping Kit</h1>

            {% block docs_content %} {% endblock %}

        </div><!-- /.docs -->

    </div><!-- ./o-contain -->

{% endblock %}